<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Crawling</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
    <h3>Crawling Service - Categories</h3>

    <form  action="/category" method="post">
        <a th:href="@{/crawling}" class="btn btn-danger text-white mb-3">Back</a>
        <button class="btn btn-success mb-3" type="submit">Save Categories For Crawling</button>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Marketplace</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="category:${mainCategories}">
            <td>
                <div th:with="categoryUrl=${category.url}">
                    <label>
                        <input type="checkbox" th:name="${categoryUrl}"  th:checked="${category.enabled}">
                        <a th:text="${category.name}" th:href="${categoryUrl}"></a>
                    </label>
                </div>
                <div th:if="${category.subcategories != null}">
                    <span class="border d-inline-flex mx-1" th:each="subcategory:${category.subcategories}" th:with="subCategoryUrl=${subcategory.url}">
                        <label>
                            <input class="mx-1"  type="checkbox" th:name="${subCategoryUrl}" th:checked="${subcategory.enabled}">
                            <a class="mx-1"  th:text="${subcategory.name}" th:href="${subCategoryUrl}" target="_blank"></a>
                        </label>
                    </span>
                </div>
            </td>
            <td th:text="${category.marketplace}"></td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
</body>
</html>